.imgipg{
    background-image:url("../img/ipg.jpg");
    background-repeat:repeat-x;
    background-position:bottom;
}




/*comentários*/

/*
    * {
    margin: 0;
    padding: 0;
    border: 2px solid red;
}
*/
/*
h1{
    color: darkred;
    background-color:bisque;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}*/

/*h2{
    color:darkred;
}*/

/*para ids*/
/*#estg {
    background-color: lightgrey;
    padding: 10px;
    border: 2px solid black;
}*/

/*seletores de classe*/
/*p.destaque {
    border: 2px dashed black;
    background-color: lawngreen;
}
h2.destaque {
    border: 2px dashed black;
    background-color: yellow;
}

td,th{
    border: 1px solid black;
    padding:4px;
    text-align:center;
}

th{
    background-color:darkred;
    color: white;
}

table {
    border-collapse: collapse;
}

.alinhaesq {
    text-align: left;
}

tfoot{
    background-color:black;
    color:white;
}
.item_com_quadrado{
    list-style-type:square;
}

dt{
    font-weight:bold;
}

dd{
    font-style:italic;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    margin:10px;

}*/

/* Style the header */
/*header {
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: darkred;
}*/

/* Container for flexboxes */
/*section {
    display: -webkit-flex;
    display: flex;
}*/

/* Style the navigation menu */
/*nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}*/

    /* Style the list inside the menu */
    /*nav ul {
        list-style-type: none;
        padding: 0;
    }*/

/* Style the content */
/*article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 40px;
}*/

/* Style the footer */
/*footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}*/

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
/*@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}



header {
    background-image: url("../img/logotipo_ipg.jpg");
    background-repeat:no-repeat;
    background-position:left -10px;
    
}

#conteudo {
    background-image: url("../img/logotipo_ipg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
}*/




/*fontes*/
/*p{*/
/*    font-variant:small-caps;*/
/*    font-weight:bolder;*/
    /*text-align:justify;*/
    /*text-transform:uppercase;
    text-indent:1em;*/
/*    letter-spacing:5px;*/
    /*word-spacing:0.5em;
    line-height:1.5;*/
/*}

.rasurado{
    text-decoration:line-through;
}


nav a{
    text-decoration:none;
    color:darkred;
    border: 1px solid darkred;
    background-color:#cfc3c3;
    padding:7px;*/
 /*   min-width:5em;*/
    /*display:block;
    text-align:center;

}

nav li {
    margin-top: 5px;*/
    /*min-width:20em:*/
/*}


a:link{
    color:darkgreen;
}

a:visited{
    color:darkblue;
}

a:hover{
    background-color:darkgray;
    color:white;
}

a:active{
    font-weight:bold;
}




tbody tr:nth-child(odd){
    background-color:darkblue;
}*/






/**/
/*
    fazer div antes do header
#contentor{
    width:800px;
    margin:auto
}
*/




/*ul > li a{
    color:darkgreen;
}*/

/*seletor de filhos*/
/*nav ul li a{
    text-decoration:none;
    color:darkred;
}*/







/*
body {
    font: 14px Arial,sans-serif;
    margin: 0px;
}

header {
    padding: 10px 20px;
    background: #acb3b9;
}

    header h1 {
        font-size: 24px;
    }

.container {
    width: 100%;
    background: #f2f2f2;
}

nav, section {
    float: left;
    padding: 20px;
    min-height: 170px;
    box-sizing: border-box;
}

section {
    width: 80%;
}

nav {
    width: 20%;
    background: #d4d7dc;
}

    nav ul {
        list-style: none;
        line-height: 24px;
        padding: 0px;
    }

        nav ul li a {
            color: #333;
        }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

footer {
    background: #acb3b9;
    text-align: center;
    padding: 5px;
}*/







/*#container{
    background-color:lightgrey
}*/

/*cor de todo o site*/
/*body {
    background-color: lightgrey;
}

#header {
    background-color: white;
    font-size:x-large;
    padding:20px;
    color:darkred;
}

#container{
    width:800px;
    margin:auto;
}

#nav {
    width:20%;
    background-color: bisque;
    height:800px
}

#nav a{
    color: darkred;
    text-decoration:none;
}

#nav ul{
    list-style-type:none;
}

#nav, #content {

    padding: 20px;
    float: left;*/ /*escosta à esquerda*/
    /*min-height: 170px;
    box-sizing:border-box

}
#content {
    width: 80%;
}

#clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#footer {
    background: #acb3b9;
    text-align: center;
    padding: 5px;
}*/

