/*comentários*/

/*
    * {
    margin: 0;
    padding: 0;
    border: 2px solid red;
}
*/

h1{
    color: darkred;
    background-color:bisque;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

h2{
    color:darkred;
}

/*para ids*/
#estg {
    background-color: lightgrey;
    padding: 10px;
    border: 2px solid black;
}

/*seletores de classe*/
p.destaque {
    border: 2px dashed black;
    background-color: lawngreen;
}
h2.destaque {
    border: 2px dashed black;
    background-color: yellow;
}

td,th{
    border: 1px solid black;
    padding:4px;
    text-align:center;
}

th{
    background-color:darkred;
    color: white;
}

table {
    border-collapse: collapse;
}

.alinhaesq {
    text-align: left;
}

